[submodule "test-projecta"]
	path = test-projecta
	url = https://github.com/meenavl/test-projecta.git
	branch = develop
[submodule "test-projectb"]
	path = test-projectb
	url = https://github.com/meenavl/test-projectb.git
	branch = develop
